<html>
   <head>
      <title>Document Reader</title>
      <script src="{{ url_for('static', filename='script/script.js') }}"></script>
      <script src="{{ url_for('static', filename='script/bootstrap.min.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">   

   </head>
   <body>
      <img id="logo" src="{{ url_for('static', filename='logo/logo.png') }}" alt="">
      <h2>DOCUMENT READER</h2>
      <img id="arrow" src="{{ url_for('static', filename='img/arrow.png') }}" alt="">
      <div id="input_holder">
         <form method = "POST" enctype="multipart/form-data">
            <div class="row">
               <input id="inputFile" class="form-control-file col-6" type = "file" name = "file" onchange='readURL(this)'/>
         
               <select class="form-control-sm col-2" id="inputLang" name="lang">
                  <option value="eng">ENG</option>
                  <option value="jpn">JP</option>
                  <option value="kor">KR</option>
               </select>

               <div class="col-1"></div>

               <input class="btn btn-primary col-2" id="btnSubmit" type = "submit" value="Read"/>
            </div>
         </form>
         <div id="img_border">
            <img id="preview" onerror="this.style.display = 'none'" width="500px">
            <img id="official" src="{{ image }}" onerror="this.style.display = 'none'" width="500px" >
         </div>
      </div>
      <div id="text_holder">
         <textarea style="resize: none;" readonly id="result">{{ text_result }}</textarea>
      </div>
   </body>
</html>