<html>
   <head>
      <title>Document Reader</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">   

   </head>
   <body>
      <img id="logo" src="{{ url_for('static', filename='logo/logo.png') }}" alt="">
      <h2>DOCUMENT READER</h2>
      <div id="input_holder">
         <form method = "POST" enctype="multipart/form-data">
            <input id="inputFile" class="form-control-file" type = "file" name = "file"/>
         
            <select class="form-control-sm" id="inputLang" name="lang">
               <option value="eng">ENG</option>
               <option value="jpn">JP</option>
               <option value="kor">KR</option>
            </select>

            <input class="btn btn-primary" id="btnUpload" type = "submit" value="{{ type }}"/>
         </form>

         <form action="{{ link }}">
            <input id="btnTryAgain" class="btn btn-warning" type="submit" value="Try Again" />
        </form>
         <div id="img_border">
            <img id="preview" onerror="this.style.display = 'none'" width="500px">
            <img id="official" src="{{ image }}" onerror="this.style.display = 'none'" width="500px" >
         </div>
      </div>
      <div id="text_holder">
         <textarea style="resize: none;" readonly id="result">{{ text_result }}</textarea>
      </div>
   </body>
</html>